/*
 * for Hamlite v1.60 size "EL"
 */

@charset "utf-8";

body,h1,h2,h3,p,div,ul,ol,li,dl,dd,dt,table,form,blockquote,pre,address,input,textarea {
  margin : 0px;
  padding: 0px;
}

body {
  background-color: transparent;
}




#hamlite {
  width:  713px;
  height: 386px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

#hambody {
  float: left;
  width:  319px;
  height: 386px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

#hamboard {
  width:  319px;
  height: 325px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

#x-coordinate {
  height: 26px;
  position: relative;
  text-align: center;
  margin-left:  0px;
  border-width: 0px;
  line-height: 26px;
}

.x_char {
  position: absolute;
  border-width: 0px;
  border-color: transparent;
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  font-size:23px;
  text-align: center;
}

#y-coordinate {
  float: left;
  position: relative;
  width: 14px;
  margin:14px 0px 0px 1px;
  border-width: 0px;
}

.y_char {
  position: absolute;
  width:  14px;
  height: 15px;
  margin: 0px 0px 0px 0px;
  border-width: 0px;
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  font-size:  23px;
  text-align: center;
  color: black;
}

#commentFrame {
  float: right;
  width:  392px;
  height: 384px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  background-color: transparent;
}

#commentArea {
  float: right;
  margin-top: 25px;
  width:  372px;
  height: 359px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  background-color: transparent;
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  font-size:22px;
}

#frame_1 {
  float: right;
  border-style: solid;
  border-width: 3px;
  border-color: silver rgb(64,64,64) rgb(64,64,64) silver;
  width: 293px;
}

#frame_2 {
  border-style: solid;
  border-width: 5px;
  border-color: gray;
  background-color: #3CB371;
  height: 283px;
}

#frame_3 {
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-color: gray silver silver gray;
  height: 277px;
}

#frame_4 {
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 273px;
  font-size:  27px;
}

.ham_disc {
  border-width: 0px;
  margin:  0px 0px 0px 0px;
  padding: 3px 0px 0px 3px;
  position:   absolute;
  width:  29px;
  height: 29px;
  z-index:1;
}

.ham_cell {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin:  0px 0px 0px 0px;
  padding: 1px 0px 0px 1px;
  font-size:  100%;
  line-height:32px;
  position:   absolute;
  text-align: center;
  width:  32px;
  height: 32px;
  z-index:3;
}

.ham_eval {
  margin:  0px 0px 0px 0px;
  padding: 8px 0px 0px 2px;
  font-size: 18px;
  line-height:20px;
  position:  absolute;
  text-align:center;
  color: yellow;
  width:  32px;
  height: 32px;
  z-index:2;
}

#think {
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding:6px 0px 0px 2px;
  top:  0px;
  left: 0px;
  width:  15px;
  height: 15px;
  visibility: hidden;
}

#char_a {left:  45px;}
#char_b {left:  79px;}
#char_c {left: 113px;}
#char_d {left: 147px;}
#char_e {left: 181px;}
#char_f {left: 215px;}
#char_g {left: 249px;}
#char_h {left: 283px;}

#char_1 {top:  5px;}
#char_2 {top:  39px;}
#char_3 {top:  73px;}
#char_4 {top: 107px;}
#char_5 {top: 141px;}
#char_6 {top: 175px;}
#char_7 {top: 209px;}
#char_8 {top: 243px;}

#disc_a1, #cell_a1, #eval_a1 {top:  0px;left:  0px;}
#disc_b1, #cell_b1, #eval_b1 {top:  0px;left: 34px;}
#disc_c1, #cell_c1, #eval_c1 {top:  0px;left: 68px;}
#disc_d1, #cell_d1, #eval_d1 {top:  0px;left:102px;}
#disc_e1, #cell_e1, #eval_e1 {top:  0px;left:136px;}
#disc_f1, #cell_f1, #eval_f1 {top:  0px;left:170px;}
#disc_g1, #cell_g1, #eval_g1 {top:  0px;left:204px;}
#disc_h1, #cell_h1, #eval_h1 {top:  0px;left:238px;}
#disc_a2, #cell_a2, #eval_a2 {top: 34px;left:  0px;}
#disc_b2, #cell_b2, #eval_b2 {top: 34px;left: 34px;}
#disc_c2, #cell_c2, #eval_c2 {top: 34px;left: 68px;}
#disc_d2, #cell_d2, #eval_d2 {top: 34px;left:102px;}
#disc_e2, #cell_e2, #eval_e2 {top: 34px;left:136px;}
#disc_f2, #cell_f2, #eval_f2 {top: 34px;left:170px;}
#disc_g2, #cell_g2, #eval_g2 {top: 34px;left:204px;}
#disc_h2, #cell_h2, #eval_h2 {top: 34px;left:238px;}
#disc_a3, #cell_a3, #eval_a3 {top: 68px;left:  0px;}
#disc_b3, #cell_b3, #eval_b3 {top: 68px;left: 34px;}
#disc_c3, #cell_c3, #eval_c3 {top: 68px;left: 68px;}
#disc_d3, #cell_d3, #eval_d3 {top: 68px;left:102px;}
#disc_e3, #cell_e3, #eval_e3 {top: 68px;left:136px;}
#disc_f3, #cell_f3, #eval_f3 {top: 68px;left:170px;}
#disc_g3, #cell_g3, #eval_g3 {top: 68px;left:204px;}
#disc_h3, #cell_h3, #eval_h3 {top: 68px;left:238px;}
#disc_a4, #cell_a4, #eval_a4 {top:102px;left:  0px;}
#disc_b4, #cell_b4, #eval_b4 {top:102px;left: 34px;}
#disc_c4, #cell_c4, #eval_c4 {top:102px;left: 68px;}
#disc_d4, #cell_d4, #eval_d4 {top:102px;left:102px;}
#disc_e4, #cell_e4, #eval_e4 {top:102px;left:136px;}
#disc_f4, #cell_f4, #eval_f4 {top:102px;left:170px;}
#disc_g4, #cell_g4, #eval_g4 {top:102px;left:204px;}
#disc_h4, #cell_h4, #eval_h4 {top:102px;left:238px;}
#disc_a5, #cell_a5, #eval_a5 {top:136px;left:  0px;}
#disc_b5, #cell_b5, #eval_b5 {top:136px;left: 34px;}
#disc_c5, #cell_c5, #eval_c5 {top:136px;left: 68px;}
#disc_d5, #cell_d5, #eval_d5 {top:136px;left:102px;}
#disc_e5, #cell_e5, #eval_e5 {top:136px;left:136px;}
#disc_f5, #cell_f5, #eval_f5 {top:136px;left:170px;}
#disc_g5, #cell_g5, #eval_g5 {top:136px;left:204px;}
#disc_h5, #cell_h5, #eval_h5 {top:136px;left:238px;}
#disc_a6, #cell_a6, #eval_a6 {top:170px;left:  0px;}
#disc_b6, #cell_b6, #eval_b6 {top:170px;left: 34px;}
#disc_c6, #cell_c6, #eval_c6 {top:170px;left: 68px;}
#disc_d6, #cell_d6, #eval_d6 {top:170px;left:102px;}
#disc_e6, #cell_e6, #eval_e6 {top:170px;left:136px;}
#disc_f6, #cell_f6, #eval_f6 {top:170px;left:170px;}
#disc_g6, #cell_g6, #eval_g6 {top:170px;left:204px;}
#disc_h6, #cell_h6, #eval_h6 {top:170px;left:238px;}
#disc_a7, #cell_a7, #eval_a7 {top:204px;left:  0px;}
#disc_b7, #cell_b7, #eval_b7 {top:204px;left: 34px;}
#disc_c7, #cell_c7, #eval_c7 {top:204px;left: 68px;}
#disc_d7, #cell_d7, #eval_d7 {top:204px;left:102px;}
#disc_e7, #cell_e7, #eval_e7 {top:204px;left:136px;}
#disc_f7, #cell_f7, #eval_f7 {top:204px;left:170px;}
#disc_g7, #cell_g7, #eval_g7 {top:204px;left:204px;}
#disc_h7, #cell_h7, #eval_h7 {top:204px;left:238px;}
#disc_a8, #cell_a8, #eval_a8 {top:238px;left:  0px;}
#disc_b8, #cell_b8, #eval_b8 {top:238px;left: 34px;}
#disc_c8, #cell_c8, #eval_c8 {top:238px;left: 68px;}
#disc_d8, #cell_d8, #eval_d8 {top:238px;left:102px;}
#disc_e8, #cell_e8, #eval_e8 {top:238px;left:136px;}
#disc_f8, #cell_f8, #eval_f8 {top:238px;left:170px;}
#disc_g8, #cell_g8, #eval_g8 {top:238px;left:204px;}
#disc_h8, #cell_h8, #eval_h8 {top:238px;left:238px;}

.x_corner {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: absolute;
  width: 1px;
  height: 1px;
}

#dot_lu {top: 66px;left: 66px;}
#dot_ru {top: 66px;left:202px;}
#dot_ld {top:202px;left: 66px;}
#dot_rd {top:202px;left:202px;}
#dot_mv {top:202px;left:202px;}

.last_move {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: absolute;
  width:  0px;
  height: 0px;
}

#dot_mark {
  top:  0px;
  left: 0px;
  border-color: transparent;
  background-color:transparent;
}

#operation {
}

#check {
  float: left;
  position: relative;
  width: 14px;
}

#repeat {
  position: absolute;
  margin: 0px;
  padding:0px;
  top:  3px;
  left: 0px;
  width:  14px;
  height: 14px;
  cursor: pointer;
}

#checkPM {
  position: absolute;
  top:  25px;
  left: 0px;
}

#checkPE {
  position:absolute;
  top: 45px;
  left: 0px;
}

#PutMark {
  width: 16px;
  height:16px;
}

#PutEnable {
  width: 16px;
  height:16px;
}

#control {
  float: right;
  width: 299px;
  background-color: #bdb76b;
}

#score_panel {
  clear: both;
  position: relative;
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  font-size:22px;
  height:27px;
}

#BlackFrame {
  position: absolute;
  top: 2px;
  left:1px;
  border-style: solid;
  border-width: 2px;
  border-color: #bdb76b;
  width: 45px;
  height:21px;
  line-height:22px;
}

#BlackStone {
  text-align: left;
  color: black;
}

#BlackCount {
  text-align: left;
  color: black;
}

#WhiteFrame {
  position: absolute;
  top: 2px;
  left:60px;
  border-style: solid;
  border-width: 2px;
  border-color: #bdb76b;
  width: 45px;
  height:21px;
  line-height:22px;
}

#WhiteStone {
  text-align: left;
  color: white;
}

#WhiteCount {
  text-align: left;
  color: black;
}

#NextMove {
  position: absolute;
  top:  6px;
  left: 125px;
  border-style: solid;
  border-width: 0px;
  border-color: #bdb76b;
  text-align: left;
  color: black;
  width: 85px;
  height:18px;
  line-height:18px;
}

#MoveNo {
  margin-left: 3px;
  padding: 0px;
  text-align: left;
  color: black;
}

#PutTrial {
  position: absolute;
  top:  8px;
  left: 178px;
  width:  14px;
  height: 14px;
}

#PutCheck {
  position: absolute;
  top: 5px;
  left: 195px;
  line-height:20px;
}

#solve {
	margin-top: 1px;
  position: absolute;
  top:  0px;
  left: 242px;
	width:57px;
	height:27px;
	font-size:16px;
}

#Loop {
  position: absolute;
  top:  4px;
  left: 242px;
  color: crimson;
}

#KifuText {
  position: absolute;
  top:  2px;
  left: 1px;
  width:230px;
  height:20px;
  font-family:'ＭＳ ゴシック', 'HiraKakuProN-W3';
  font-size:20px;
}

#SetKifu {
  position: absolute;
  top:  2px;
  left: 237px;
  width: 62px;
  height:25px;
  font-family:'Georgia';
  font-size:16px;
}

#op_button {
  clear: both;
  position: relative;
  font-family:'Georgia';
}

#first { width:57px; height:33px; font-size:20px; }
#prev  { width:57px; height:33px; font-size:20px; }
#kifu  { width:71px; height:33px; font-size:20px; }
#next  { width:57px; height:33px; font-size:20px; }
#last  { width:57px; height:33px; font-size:20px; }

.ham_cell {
  font-size: 80% !important;   /* увеличь до нужного размера */
  font-weight: bold !important; /* делаем цифры толще */
  color: #fff !important;       /* при тёмной доске лучше видно */
  text-shadow: 1px 1px 2px #000;/* лёгкая тень для контраста */
}

.ham_eval {
  font-size: 80% !important;
  font-weight: bold !important;
}
